.name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 230px;
    height: fit-content;
  }
  
  .describtion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 337px;
    height: fit-content;
  }
  
  .address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 260px;
    height: fit-content;
  }
  .icon_and_tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .icon_container {
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 6px;
    background-color: #77aaf9;
  }
  