.custom_button {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15), 0px 15px 18px -15px #6D96D4;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgba(89, 154, 254, 1);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    background-color: rgba(119, 170, 249, 1);
    width: 203px;
    height: 46px;
    
}

p{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.custom_button:hover {
    background-color: rgba(89, 154, 254, 1);
}