.activities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: aqua; */
}

.chips_row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.chip {
  height: 26px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #77aaf9;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.chip_active {
  height: 26px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: #77aaf9;
}

.describtion_and_features_column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* background-color: aqua; */
  height: fit-content;
}

.describtion_to_activity {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: #77aaf9; */
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: #77aaf9; */
}

.marked_list {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Inter", sans-serif;
}

.recomendations_to_photo {
  display: flex;
  flex-direction: column;
}

.recomendations_to_photo p {
  color: #252525;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.activity_photos_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  width: fit-content;
  height: fit-content;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(212, 229, 255, 1);
}

.activity_each_photo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.activity_each_photo_editting {
  position: relative;
  object-fit: cover;
  cursor: grab;
  width: 70px;
  height: 70px;
}

.activity_each_photo_editting img.delete-icon {
  position: absolute;
  left: 53px;
  bottom: -20px;
  cursor: pointer;
}

.mainContainerActivitiesModal {
  background-color: white;
  display: flex;
  width: 700px;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  gap: 24px;
}

.each_activity p {
  width: 100%;
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  line-height: 16px;
}

.each_activity img.edit_icon {
  opacity: 0;
}

.each_activity:hover img.edit_icon {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.add_activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.add_activity button {
  color: #3e86f5;
  text-align: start;
  margin-right: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
}

.add_activity button :focus{
  outline: none;
}

.add_activity:hover button {
  background-color: #f5f9ff;
  transition: background-color 0.5s ease;
}

.isActive {
  display: flex;
  text-align: start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 28px;
}

.isActive section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 28px;
  margin-left: 10px;
  justify-content: space-between;  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  background-color: #f5f9ff;
  cursor: grab;
}

.each_activity {
  display: flex;
  text-align: start;
  flex-direction: row;
  align-items: center;
/*   background-color: lightpink;
 */  width: 100%;
  height: fit-content;
}

.each_activity section {
  width: 100%;
  min-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;  
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  cursor: grab;
}

.removeBlockResponsive{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  min-height: 28px;
  min-width: 28px;
  height: 100%;
  background-color: rgba(245, 249, 255, 1);
  border-radius: 4px;
}

.activities_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.podactivities_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.blue_bordered_container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  width: 100%;
  height: fit-content;
  min-height: 325px;
  max-height: 550px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  padding: 16px;
  z-index: 1;
}

.areaAutoSize{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 28px;
  outline: none;
  resize: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  scrollbar-width: none;
  user-select: none;
  
}






.photoModal{
  outline: none !important;
}


.photoModal img {
  outline: none !important;
  border: none !important;
}

.closeButton{
  display: flex;
  justify-content: center;
  padding: 25px;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgba(42, 42, 43, 0.2);
  top: 0;
  right: 0;
  cursor: pointer;
}

.blueBigCard{
  width: 100%;
  height:fit-content;
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(245, 249, 255, 1);
  border: 1px solid  rgba(119, 170, 249, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}