.photos_row {
  display: flex;
  flex-direction: row;
}

.gym_main_photo_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 375px;
  /* background-color: aqua; */
}

.main_pic {
  width: 100%;
  height: 210px;
  border-radius: 16px;
}

.logo_rounded {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
