.main {
  width: 390px;
  height: 340px;
  margin: auto;
  background-color: white;
  border: 1px solid var(--Color-icon-icon-primary-faded-x2, #d4e5ff);
  border-radius: 4px 16px 16px 16px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.07);
  padding: 24px;
}

.rounded_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  border: 1px solid #599afe;
}

.rounded_button:hover {
  background-color: #599afe;
  transition: background-color 0.5s ease;
}
.rounded_button:hover img {
  color: white;
  transition: background-color 0.5s ease;
}

.second_button {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  align-items: center;
  border: 1px solid #599afe;
}
.second_button:hover {
  background-color: #599afe;
  transition: background-color 0.5s ease;
}
.second_button:hover p {
  color: white;
  transition: background-color 0.5s ease;
}

.second_button p {
  color: #252525;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.third_button {
  width: 202px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: #599afe;
  align-items: center;
  border: 1px solid #599afe;
}

.logo {
  width: 180px;
  height: 180px;
  background-color: red;
  border-radius: 50%;
}

.logo_dialog_container {
  display: flex;
  flex-direction: column;
  width: 513px;
  padding: 32px;
  background-color: white;
  border-radius: 16px;
  gap: 32px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.25);
}

.photo_dialog_container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.25);
}
