.main_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 700px;
  height: fit-content;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.07);
  padding: 32px;
}

.activities_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.podactivities_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.blue_bordered_container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  width: 100%;
  height: 325px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  padding: 16px;
}

.each_activity {
  display: flex;
  text-align: start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* background-color: lightpink; */
  width: 100%;
  height: fit-content;
}

.each_activity p {
  width: 100%;
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.each_activity:hover p {
  background-color: #f5f9ff;
  transition: font-weight 0.5s ease;
  transition: background-color 0.5s ease;
}

.each_activity img.edit_icon {
  opacity: 0;
}

.each_activity:hover img.edit_icon {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.add_activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.add_activity button {
  color: #3e86f5;
  text-align: start;
  margin-right: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
}

.add_activity:hover button {
  background-color: #f5f9ff;
  transition: background-color 0.5s ease;
}

.isActive {
  display: flex;
  text-align: start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.isActive p {
  width: 100%;
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  background-color: #f5f9ff;
  cursor: pointer;
}
