.photos_row {
  display: flex;
  flex-direction: row;
}

.gym_main_photo_column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  width: 375px;
  /* background-color: aqua; */
}

.main_pic {
  width: 375px;
  height: 210px;
  border-radius: 16px;
  object-fit: cover;
}

.logo_rounded180 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.logo_rounded90 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.logo_rounded50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 230px; */
  height: fit-content;
  /* background-color: aqua; */
  /* border: 1px solid grey; */
}

.describtion {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 260px;
  height: fit-content;
}
.icon_and_tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icon_container {
  width: 24px;
  height: 24px;
  padding: 3px;
  border-radius: 6px;
  background-color: #77aaf9;
}

.textarea-transition {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

.textarea-visible {
  opacity: 1;
}

.rounded_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  border: 1px solid #599afe;
  --icon-color: black;
}

.rounded_button:hover {
  background-color: #599afe;
  --icon-color: white;
  transition: background-color 0.5s ease;
}

.rounded_button:focus {
  outline: none;
}

.second_button {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  align-items: center;
  border: 1px solid #599afe;
}

.second_button:hover {
  background-color: #599afe;
  transition: background-color 0.5s ease;
}

.second_button:hover p {
  color: white;
  transition: background-color 0.5s ease;
}

.second_button p {
  color: #252525;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.third_button {
  width: 202px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: #599afe;
  align-items: center;
  border: 1px solid #599afe;
}

.logo {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

.logo_dialog_container {
  display: flex;
  flex-direction: column;
  width: 513px;
  padding: 32px;
  background-color: white;
  border-radius: 16px;
  gap: 32px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.25);
}

.photo_dialog_container {
  width: 513px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.25);
}

.textArea {
  width: 100%;
  padding: 10px 16px 10px 8px;
  border: 1px solid #77aaf9;
  border-radius: 8px;
  outline: none;
  resize: none;
  overflow-y: auto;
 /* Firefox */
}

.button40 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  transition: background-color 0.3s ease;
  transition: border 0.3s ease;
}


.textArea::-webkit-scrollbar {
  display: none;
}

.textAreaForAddress {
  padding: 5px;
  width: 100%;
  border: 1px solid #77aaf9;
  border-radius: 8px;
  outline: none;
  max-height: 120px;
  resize: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

select {
  text-indent: 1px;
  text-overflow: "";
}

/* dropdown for adding contacts  */

.columnForContact {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  width: fit-content;
  height: 30px;
}

.slash {
  margin-left: 10px;
  margin-right: 10px;
  color: #b0b0b0;
}

.dropdown_header_contacts {
  display: flex;
  flex-direction: row;
  height: 30px !important;
  gap: 10px;
  max-width: 400px;
  transition: max-width 0.5s ease;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  align-items: center;
  justify-content: center;
}

.dropdown_header_opened_contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 250px;
  width: auto;
  height: 30px !important;
  transition: max-width 0.5s ease;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 18px 14px -13px rgba(0, 0, 0, 0.25);
}

.rotate-icon {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}

.arrow-icon {
  transition: transform 0.5s ease;
}

.dropdown_body2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 32px;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  max-height: 159px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dropdown_body::-webkit-scrollbar {
  display: none;
}
