.sidebar_section {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.sidebar_section_closed {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.sidebar_section:hover {
  border: 1px solid rgba(89, 154, 254, 1);
}

.sidebar_section_closed:hover {
  border: 1px solid rgba(89, 154, 254, 1);
}

.sidebar_opened {
  width: 225px;
  min-width: 100px;
  transition: width 0.3s ease;
}

.sidebar_closed {
  width: 100px;
  min-width: 100px;
  transition: width 0.3s ease;
}

.active_sidebar_section {
  background-color: rgba(245, 249, 255, 1);
}

.sidebar_header {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
}

.sidebar_header:hover {
  background-color: rgba(245, 249, 255, 1);
}

.text-delayed {
  opacity: 0;
  transition: opacity 0.3s ease 0.3s; /* Adjust the delay to match your sidebar animation */
}

.text-visible {
  opacity: 1;
}

.badge {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 136, 136, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.additional_block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
  margin-left: 26px;
  align-items: center;
  cursor: pointer;
}

.additional_block li span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: black;
  position: relative;
  left: -12px;
}

.active_additional_block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
  margin-left: 26px;
  align-items: center;
  cursor: pointer;
}

.active_additional_block li span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(62, 134, 245, 1);
  position: relative;
  left: -12px;
}

.active_additional_block li {
  color: rgba(62, 134, 245, 1);
}

.additional_block li  {
  color: transparent;
}



.modalContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;
  width: fit-content;
}