.sidebar_section_myfit {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.sidebar_section_closed_myfit  {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.sidebar_section_myfit:hover {
  border: 1px solid rgba(89, 154, 254, 1);
}

.sidebar_section_closed_myfit:hover {
  border: 1px solid rgba(89, 154, 254, 1);
}

.sidebar_section_crm {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.sidebar_section_closed_crm  {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.sidebar_section_crm:hover {
  border: 1px solid rgba(94, 220, 145, 1);
}

.sidebar_section_closed_crm:hover {
  border: 1px solid rgba(94, 220, 145, 1);
}

.sidebar_opened {
  width: 225px;
  min-width: 100px;
  transition: width 0.3s ease;
}

.sidebar_closed {
  width: 100px;
  min-width: 100px;
  transition: width 0.3s ease;
}

.active_sidebar_section_myfit {
  background-color: rgba(245, 249, 255, 1);
}

.active_sidebar_section_crm {
  background-color: rgba(242, 255, 247, 1);
  border: 1px solid rgba(94, 220, 145, 1);

}

.sidebar_header {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
}

.sidebar_header:hover {
  background-color: rgba(245, 249, 255, 1);
}

.text-delayed {
  opacity: 0;
  transition: opacity 0.3s ease 0.3s; /* Adjust the delay to match your sidebar animation */
}

.text-visible {
  opacity: 1;
}

.badge {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 136, 136, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.additional_block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
  margin-left: 26px;
  align-items: center;
  cursor: pointer;
}

.additional_block li span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: black;
  position: relative;
  left: -12px;
}

.active_additional_block_myfit {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
  margin-left: 26px;
  align-items: center;
  cursor: pointer;
}

.active_additional_block_myfit li span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(62, 134, 245, 1);
  position: relative;
  left: -12px;
}

.active_additional_block_myfit li {
  color: rgba(62, 134, 245, 1);
}

.active_additional_block_crm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
  margin-left: 26px;
  align-items: center;
  cursor: pointer;
}

.active_additional_block_crm li span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(94, 220, 145, 1);
  position: relative;
  left: -12px;
}

.active_additional_block_crm li {
  color: rgba(94, 220, 145, 1);
}

.additional_block li  {
  color: transparent;
}



.modalContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;
  width: fit-content;
}

.tabbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 8px;
  height: 40px;
  padding: 5px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  transition: border-color 0.3s ease;
}


.tabbar div {
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}


.tabbar_item{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
}

.tabbar_item span {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.selected_tabbar_item_crm {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(94, 220, 145, 1);
  color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15), 0px 15px 18px -15px rgba(109, 212, 113, 1);
}

.selected_tabbar_item_myfit {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(119, 170, 249, 1);
  color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15), 0px 15px 18px -15px rgba(119, 170, 249, 1);
}

.selected_tabbar_item_myfit span {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.selected_tabbar_item_crm span {
  font-size: 14px;
  font-weight: 500;
  color: white;
}