.scrollableHours {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.scrollableMinutes {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.scrollableMinutes::-webkit-scrollbar {
  display: none;
}

.scrollableHours::-webkit-scrollbar {
  display: none;
}

.eachNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.eachNumberSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: rgba(212, 229, 255, 1);
}

.eachNumber:hover {
  background-color: rgba(212, 229, 255, 1);
  transition: background-color 0.3 ease;
}

.dropDownForHoursBody {
  max-height: 174px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  top: 42px;
  width: 100%;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  overflow-y: auto;
  box-shadow: 0px -18px 22.299999237060547px -14px rgba(0, 0, 0, 0.25) inset,
    0px 18px 22.299999237060547px -14px rgba(0, 0, 0, 0.25) inset;
}

.dropdownHeaderForHours {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
  max-width: 400px;
  transition: max-width 0.5s ease;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  align-items: center;
  justify-content: center;
}

.dropdownHeaderOpenedForHours {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1000px;
  width: auto;
  height: 40px;
  transition: max-width 0.5s ease;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid #77aaf9;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 18px 14px -13px rgba(0, 0, 0, 0.25);
}

.rotate-icon {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}

.arrow-icon {
  transition: transform 0.5s ease;
}

.schedule_page {
  height: 97vh;
  margin-left: 10px;
  overflow-y: scroll;
}

.schedule_page ::-webkit-scrollbar {
  display: none;
}

.schedule_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 82px;
  min-width: 100%;
  padding: 21px 35px 21px 35px;
  gap: 32px;
  border-radius: 16px;
}

.schedule_body {
  height: 90%;
  min-width: 100%;
  background-color: white;
  border-radius: 16px;
  margin-top: 10px;
  overflow-y: auto;
}

.leftTopBorder {
  border-top-left-radius: 16px;
}

.centeredGreyText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(176, 176, 176, 1);
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.edittingContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 184px;
  right: 0;
  width: 386px;
  height: 77%;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(212, 229, 255, 1);
  background-color: white;
  z-index: 20;
  overflow-y: auto;
  box-shadow: -9px 0px 46px -13px rgba(0, 0, 0, 0.25);

}

.refSchedule {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 16px;
  border: 1px solid rgba(244, 244, 244, 1);
  width: 100%;
  height: fit-content; /* ???? */
}

.textArea {
  width: 100%;
  height: fit-content;
  padding: 10px 16px 10px 8px;
  border: 1px solid #77aaf9;
  border-radius: 8px;
  outline: none;
  max-height: 300px;
  resize: none;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.deleteModalContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  width: 800px;
}

.blueContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #77aaf9;
  background-color: #f5f9ff;
  padding: 32px;
  width: 100%;
  height: fit-content;
}

/* dialog style starts here */
.addScheduleModal {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 700px;
  max-height: 790px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 13px -6px rgba(0, 0, 0, 0.25),
    0px 21px 17px -12px rgba(0, 0, 0, 0.07);
  padding: 32px;
  overflow-y: auto;
}

.roundedWeekdays {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(244, 244, 244, 1);
  font-size: 13px;
  font-weight: 500;
  color: #b0b0b0;
}

.roundedWeekdaysSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #f5f9ff;
  border: 1px solid #77aaf9;
  font-size: 13px;
  font-weight: 500;
}

.react-datepicker {
  /* border-radius: 16px !important; */
  border: 1px solid transparent !important;
}

.react-datepicker__input-container {
  display: none !important;
}

.react-datepicker-wrapper {
  display: none !important;
}

.react-datepicker-popper {
  position: static !important;
  will-change: unset !important;
  transform: unset !important;
}

.react-datepicker__day-name {
  font-size: 16px !important;
  font-weight: 400;
  text-transform: uppercase !important;
}

.react-datepicker__week .react-datepicker__day-name:nth-child(6),
.react-datepicker__week .react-datepicker__day-name:nth-child(7) {
  font-size: 16px !important;
  font-weight: 400;
  text-transform: uppercase !important;
  color: red !important;
}

.react-datepicker__month-container {
  background-color: rgba(245, 249, 255, 1);
  border-radius: 16px !important;
}

.react-datepicker__header {
  background-color: rgba(245, 249, 255, 1) !important;
  border-radius: 14px !important;
  border-bottom: none !important;
}

.react-datepicker__week {
  font-size: 14px !important;
  font-weight: 400;
  text-transform: uppercase !important;
}

.weekend {
  color: red !important; /* это изменит цвет текста для выходных */
}

.react-datepicker__day--selected {
  border-radius: 50% !important;
  background-color: rgba(119, 170, 249, 1) !important;
}
/* Calendar style starts here */

.rbc-time-header-gutter {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  min-width: 104px !important;
}

.rbc-toolbar {
  display: none !important;
}

.rbc-time-header {
  height: 82px;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 16px;
  background-color: #e9f2ff;
}

.rbc-time-view {
  border: none !important;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  /* background-color: red; */
}

.react-big-calendar .custom-event-style {
  background-color: red !important;
  color: green !important;
}

.rbc-time-header-content {
  display: flex;
  flex-direction: column;
  border-left: none;
  /* background-color: yellow; */
  width: 100%;
  min-width: 105px;
  border: none !important;
}

.rbc-time-header-cell {
  display: none !important;
}

.each_days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
  min-width: 104px !important;
  height: 100%;
  border-left: 1px solid #9dc1f5;
}

.rbc-time-content {
  border-top: 1px solid #9dc1f5 !important;
  /* margin-top: 20px; */
  /* background-color: yellow; */
}

.rbc-time-gutter {
  width: 104px !important;
}

.rbc-timeslot-group {
  display: flex;
  align-items: center;
  /* width: fit-content !important; */
  min-width: 105px !important;
  border: none !important;
  /* min-height: 78px !important; */
  /* background-color: green; */
}

.rbc-time-column {
  min-width: 104px !important;

  /* main column in body */
  /* width: 300px !important; */
  /* background-color: yellow;  */
  /* width: fit-content; */
}

.rbc-events-container {
  margin: 0px !important;
}

.rbc-today {
  background-color: #d4e5ff !important;
}

.rbc-day-slot {
  /* background-color: red; */
  min-width: 104px !important;
  width: 100% !important;
  margin-top: 10px;
  /* min-width: 105px !important; каждая клетка в body */
  /* background-color: red; */
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #9dc1f5 !important;
  border-top: 1px solid #9dc1f5 !important;
}

.rbc-event-label {
  /* event label (times) */
  font-size: 13px !important;
  font-weight: 700 !important;
}

.rbc-event {
  /* event body (describtion) */
  font-size: 10px !important;
  font-weight: 500 !important;
  border: 1px solid #f1d19c;
  /*  width: 31px !important; */
  /* background-color: green !important; */
}

.rbc-event-selected{
  border: 2px solid red !important;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-time-header.rbc-overflowing {
  margin-right: 0px !important;
  border-right: none !important;
}



.zoomButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* right: 2%; */
  bottom: 2.5%;
  gap: 5px;
}

.overLappingEvents {
  border-radius: 100px !important;
  color: black !important;
  background-color: rgba(255, 235, 203, 1) !important;
  border: 1px solid rgba(241, 209, 156, 1) !important;
  box-shadow: none !important;
  content-visibility: hidden;
}

.overLappingEvents:hover {
  /* background-color: #ffebcb !important; */
  border-radius: 8px !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 10px !important;
  left: 0% !important;
  /* transition: left 0.3s ease; */
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15),
    0px 15px 18px -15px rgba(109, 150, 212, 1) !important; */
  z-index: 2;
  content-visibility: visible;
}

.notOverLappingEvents {
  border-radius: 8px !important;
  color: black !important;
  background-color: rgba(255, 235, 203, 1) !important;
  padding: 10px !important;
  border: 1px solid rgba(241, 209, 156, 1) !important;
  box-shadow: 0px 14px 13.2px -13px rgba(250, 209, 145, 0.65) !important;
  font-size: 10px !important;
  font-weight: 500 !important;
}

.my-calendar-container {
  margin: 0px !important;
  padding: 0px !important;
}

.gymNames {
  font-size: 14px;
  font-weight: 500;
  color: #252525;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  text-align: start;
}

.gymNames:hover {
  background-color: #d4e5ff;
  transition: background-color 0.5s ease;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100000 !important;
  gap: 6px;
  width: 315px;
  border-top-left-radius: 16px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: white;
  padding: 10px;
  border: 1px solid rgba(119, 170, 249, 1);
  box-shadow: 0px 18px 14px -13px rgba(0, 0, 0, 0.25);
}

.eventFromBooking {
  border: 2px solid rgba(119, 170, 249, 1) !important;
}

.selectedEvent{
  border: 2px solid red !important;
}

.canSignUpFalseEvents{
  border: 1px solid rgba(233, 230, 230, 1) !important;
  background-color: rgba(244, 244, 244, 1) !important;
  box-shadow: 0px 15px 18px -15px rgba(187, 196, 211, 1) !important;
}


.event-footer {
  position: absolute;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.event-footer > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  height: 28px;
  width: fit-content;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
}