@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  color: rgba(37, 37, 37, 1);
  font-variant-numeric: lining-nums proportional-nums;
  /* Изменение полосы прокрутки для всего документа */
  ::-webkit-scrollbar {
    width: 7px; /* ширина полосы прокрутки */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* цвет ползунка полосы прокрутки */
    border-radius: 32px;
    max-height: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* цвет ползунка полосы прокрутки при наведении */
  }
}

.Toastify__toast-theme--light {
  background-color: rgba(255, 136, 136, 1) !important;
}

.Toastify__toast-theme--light div {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.Toastify__toast--success {
  background-color: #08a13d !important; 
}

.Toastify__toast--success div {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.Toastify__toast--success svg {
  fill: white !important;
}