@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif, "Inter", sans-serif;
  color: rgba(37, 37, 37, 1);
  font-variant-numeric: lining-nums proportional-nums;
  /* Изменение полосы прокрутки для всего документа */
  ::-webkit-scrollbar {
    width: 7px; /* ширина полосы прокрутки */
  }


  ::-webkit-scrollbar-thumb {
    background: #888; /* цвет ползунка полосы прокрутки */
    border-radius: 32px;
    max-height: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* цвет ползунка полосы прокрутки при наведении */
  }
}

.Toastify__toast-theme--light {
  background-color: rgba(255, 136, 136, 1) !important;
}

.Toastify__toast-theme--light div {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.Toastify__toast--success {
  background-color: #08a13d !important; 
}

.Toastify__toast--success div {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.Toastify__toast--success svg {
  fill: white !important;
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-Thin.woff2') format('woff2'), 
      url('./fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: 100; 
  font-style: normal; 
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-Light.woff2') format('woff2'), 
      url('./fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 200; 
  font-style: normal; 
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-Light.woff2') format('woff2'), 
      url('./fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal; 
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-Regular.woff2') format('woff2'), 
      url('./fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-Medium.woff2') format('woff2'), 
      url('./fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal; 
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-SemiBold.woff2') format('woff2'), 
      url('./fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal; 
}

@font-face {
  font-family: 'Raleway';  
  src: url('./fonts/Raleway-Bold.woff2') format('woff2'), 
      url('./fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter';  
  src: url('./fonts/Inter-Thin.woff2') format('woff2'),
      url('./fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100; 
  font-style: normal; 
}

/* @font-face {
  font-family: 'Inter';  
  src: url('./fonts/Inter-.ttf'); 
  font-weight: 200; 
  font-style: normal; 
} */

@font-face {
  font-family: 'Inter';  
  src:  url('./fonts/Inter-Light.woff2') format('woff2'),
        url('./fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter';  
  src:  url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter';  
  src:  url('./fonts/Inter-Medium.woff2') format('woff2'),
        url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter';  
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2'),
      url('./fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal; 
}

@font-face {
  font-family: 'Inter';  
  src: url('./fonts/Inter-Bold.woff2') format('woff2'),
      url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal; 
}